$dark-color: rgba(68, 8, 8, 0.87);
$dark-gold-gradient: linear-gradient(
	180deg,
	rgba(0, 0, 0, 0.0984768907563025) 0%,
	rgba(0, 0, 0, 0.2) 0%
);
$dark-red-color: rgb(31, 2, 2);
$dark-red-gradient: radial-gradient(
	circle,
	rgba(85, 1, 1, 1) 0%,
	rgba(0, 0, 0, 1) 72%
);
$gold-color: rgb(204, 148, 7);
$light-pink-color: rgba(232, 178, 226, 0.15);
$red-color: rgba(255, 0, 0, 0.534);
$red-gradient: linear-gradient(315deg, #3d060a7e 0%, #030303b9 10%);
