// ---BACKGROUNDS---

@mixin pageBackground() {
	background-color: rgba(49, 2, 2, 1);
	background-image: radial-gradient(
		circle,
		rgba(49, 2, 2, 1) 13%,
		rgba(12, 0, 0, 1) 100%
	);
}

@mixin headerBackground($bgImg) {
	background-image: url($bgImg);
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

@mixin sectionBackground($sctImg) {
	background-image: $red-gradient, url($sctImg);
	background-position: center;
	background-size: cover;
}

// ---BUTTONS---

@mixin joinButton() {
	border: 2px solid $dark-color;
	border-radius: 25px;
	padding: 1em;
	font-size: 0.8em;
	font-weight: bold;
	text-transform: uppercase;
	background-color: $gold-color;
	letter-spacing: 2px;
	margin: 2em auto;
	cursor: pointer;
	transition: 0.3s;
	text-decoration: none;
	color: $dark-red-color;

	i {
		padding: 0 0.5em 0 0;
		text-decoration: none;
	}
}

@mixin arrowDownButton() {
	border: 2px solid $dark-color;
	border-radius: 50%;
	padding: 0.8em;
	font-weight: bold;
	background-color: $gold-color;
	cursor: pointer;
	margin: 5em auto;
	transition: 0.3s;

	i {
		font-size: 2em;
		color: $dark-color;
	}
}

@mixin menuButton() {
	position: absolute;
	width: 100%;
	height: 3px;
	background-color: $gold-color;
}
