@import "./mixins";
@import "./components";
@import "./colors";

*,
*::before,
*::after {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	font-size: 62.5%;
	scroll-behavior: smooth;
}

body {
	@include pageBackground;
	color: $gold-color;
	font-family: "Roboto", sans-serif;
	font-size: 1.6em;
}

// ---HEADER AND NAV---

.header {
	@include headerBackground("../images/minivolcano.jpg");
	align-items: center;
	box-shadow: 3px 3px 10px rgb(0, 0, 0);
	color: $gold-color;
	display: flex;
	height: 100vh;
	justify-content: space-between;
	overflow: hidden;
	position: relative;
	width: 100%;
}

.nav {
	align-items: center;
	display: flex;
	height: 12vh;
	justify-content: center;
	padding: 0.5em;
	position: fixed;
	text-align: center;
	top: 0;
	transition: scroll 0.2s;
	width: 100%;
	z-index: 1000;

	&__logo,
	&__menu,
	&__search {
		background: none;
		border: none;
		color: $gold-color;
		cursor: pointer;
		margin: 0 5%;
		width: 20%;
	}

	&__logo,
	&__elements {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&__menu,
	&__search {
		display: inline-block;
		font-size: 2em;
		padding: 0.7em;
	}

	&__logo {
		text-decoration: none;

		&-img {
			height: 3em;
			opacity: 0.7;
			width: 3em;
		}

		&-text {
			font-family: "Dancing Script", cursive;
			font-size: 0.7em;
			text-align: center;
		}

		&-text span {
			font-size: 1.5em;
			text-transform: uppercase;
		}
	}

	&__menu {
		transition: 0.3s;

		&-box {
			display: inline-block;
			height: 0.7em;
			position: relative;
			width: 0.7em;

			&-inner {
				@include menuButton;
				left: 0;
				top: 50%;
				transform: translateY(-50%);
				transition: background-color 0.2s 0.1s ease-out;
			}

			&-inner::before,
			&-inner::after {
				@include menuButton;
				content: "";
				left: 0;
				transition: transform 0.2s 0.2s ease-out;
			}

			&-inner::before {
				top: -0.3em;
			}

			&-inner::after {
				top: 0.3em;
			}
		}

		&:hover {
			color: $dark-color;
		}

		&--active {
			.nav__menu-box-inner {
				background-color: transparent;
			}
		}

		&--active {
			.nav__menu-box-inner::before {
				transform: translateY(10px) rotate(45deg);
			}
		}

		&--active {
			.nav__menu-box-inner::after {
				transform: translateY(-10px) rotate(-45deg);
			}
		}
	}

	&__elements {
		background: $dark-gold-gradient, $gold-color;
		flex-direction: column;
		font-weight: bold;
		height: 88vh;
		list-style: none;
		position: absolute;
		text-transform: uppercase;
		transform: translateY(-150%);
		transition: transform 0.3s 0.3s ease-in-out;
		top: 12vh;
		width: 100%;

		&-item {
			align-items: center;
			border: 2px solid $dark-color;
			border-radius: 25px;
			display: flex;
			height: 8%;
			justify-content: center;
			margin: 1em;
			transition: 0.3s;
			width: 60%;

			&:hover {
				background-color: $dark-color;
				border-color: black;

				a:hover {
					color: $gold-color;
				}
			}

			a {
				align-items: center;
				color: $dark-color;
				display: flex;
				font-size: 1.5em;
				height: 100%;
				justify-content: center;
				letter-spacing: 1px;
				text-decoration: none;
				transition: 0.3s;
				width: 100%;
			}
		}

		&--active {
			transform: translateY(0);
		}
	}

	&__search {
		transition: 0.3s;

		&:hover {
			color: $dark-color;
		}
	}
}

.claret-style {
	background-color: $dark-red-color;
	box-shadow: 3px 3px 10px rgb(0, 0, 0);
}

.heading {
	align-items: center;
	display: flex;
	flex-direction: column;
	height: 88vh;
	position: absolute;
	top: 12vh;
	width: 100vw;

	&__title,
	&__text {
		text-align: center;
	}

	&__title,
	&__subtitle {
		letter-spacing: 2px;
	}

	&__title {
		animation: fire 1s ease-in-out infinite alternate;
		font-family: "Inconsolata", monospace;
		font-size: 2em;
		margin: 1em auto 0.5em;
		text-transform: uppercase;
	}

	&__subtitle {
		font-style: italic;
		margin: 1em auto;
		padding: 1em;
	}

	&__text {
		width: 60%;
	}

	&__join,
	&__arrow {
		&:hover {
			background-color: $dark-color;
			border-color: $gold-color;
		}
	}

	&__join {
		@include joinButton;
		&:hover {
			animation: burn 1s ease-out;
			color: $gold-color;

			&::after,
			&::before {
				animation: flare 1s ease-out;
			}
		}
	}

	&__arrow {
		@include arrowDownButton;
		&:hover {
			box-shadow: 3px 3px 30px $gold-color;

			i {
				color: $gold-color;
			}
		}
	}
}

.search-input {
	align-items: center;
	background: $dark-gold-gradient, $gold-color;
	border-radius: 10px;
	color: $dark-color;
	display: flex;
	flex-direction: column;
	font-weight: bold;
	height: 88vh;
	justify-content: center;
	list-style: none;
	position: absolute;
	text-transform: uppercase;
	top: 12vh;
	transform: translateY(-150%);
	transition: transform 0.3s 0.3s ease-in-out;
	width: 100%;
	z-index: 1500;

	&__icon,
	&__label {
		font-size: 2em;
		margin: 1em auto;
	}

	&__label {
		text-transform: uppercase;
	}

	&__input,
	&__error {
		padding: 0.5em;
	}

	&__input {
		border-radius: 20px;
		margin: 0;
		opacity: 1;
		text-align: center;
		width: 70vw;
	}

	&__error {
		background-color: transparent;
		color: $dark-red-color;
		font-weight: bold;
	}

	&__buttons {
		&-button {
			background-color: transparent;
			border: 2px solid $dark-color;
			border-radius: 25px;
			color: $dark-color;
			cursor: pointer;
			font-weight: bold;
			letter-spacing: 1px;
			margin: 2em;
			padding: 0.6em;
			text-transform: uppercase;
			transition: color, border-color, background-color 0.3s;

			&:hover {
				background-color: $dark-color;
				border-color: $gold-color;
				color: $gold-color;
			}
		}
	}

	&--active {
		position: fixed;
		transform: translateY(0);
	}
}

// --- MAIN ---
// --- ABOUT US ---

.about-us {
	padding: 10% 0;

	&__header,
	&__box {
		width: 80%;
	}

	&__header {
		align-items: center;
		display: flex;
		flex-direction: column;
		justify-content: center;
		margin: 2%;

		&-heading {
			font-size: 1.4em;
			margin: 5%;
			text-align: center;
			text-transform: uppercase;
		}

		&-text--first {
			font-size: 0.8em;
			margin: 10px;
			text-align: justify;
		}

		&-text--second {
			font-size: 1.1em;
			margin: 20px;
		}
	}

	&__box {
		background-color: $dark-red-color;
		border: 2px solid $gold-color;
		border-radius: 10px;
		box-shadow: 3px 10px 30px $gold-color;
		padding: 2%;

		&-human {
			border: 1px solid $gold-color;
			border-radius: 25px;
			margin: 20px;
			overflow: hidden;
			text-align: center;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.1);
			}

			&-header,
			&-box {
				text-align: center;
			}

			&-header {
				align-items: center;
				background-color: $gold-color;
				color: $dark-red-color;
				display: flex;
				font-size: 0.9em;
				height: 5vh;
				justify-content: center;
				text-transform: uppercase;
			}

			&-box {
				font-size: 0.7em;
				padding: 5px;

				&-img {
					border-radius: 50%;
					box-shadow: 3px 3px 10px rgb(0, 0, 0);
					height: 30%;
					margin: 15px;
					width: 30%;
				}

				&-text {
					margin: 10px;
				}
			}
		}
	}
}

// --- ADVENTURES ---

.adventures {
	&__header,
	&__box {
		align-items: center;
		display: flex;
		width: 100%;
	}

	&__header {
		@include sectionBackground("../images/firemini.jpg");
		border-radius: 25px;
		box-shadow: 3px 3px 10px rgb(0, 0, 0);
		height: 70vh;
		justify-content: space-around;
		letter-spacing: 1px;
		position: relative;
		text-align: center;

		&-title,
		&-text {
			position: absolute;
		}

		&-title {
			font-family: "Inconsolata", monospace;
			font-size: 1.2em;
			font-weight: bold;
			padding: 1em;
			text-transform: uppercase;
			top: 5%;
		}

		&-text {
			bottom: 45%;
			height: 25%;
			width: 80%;

			&-intro {
				font-size: 0.9em;
				padding: 7%;
				text-align: justify;
			}

			&-path {
				padding: 1.5em;
			}

			&-buttons {
				align-items: center;
				display: flex;
				justify-content: space-between;
				opacity: 0.8;

				&-seen,
				&-soon {
					background-color: $dark-color;
					border: 2px solid $gold-color;
					border-radius: 15px;
					box-shadow: 3px 3px 10px rgb(0, 0, 0);
					color: $gold-color;
					cursor: pointer;
					height: 2.5em;
					padding: 5px;
					text-transform: uppercase;
					transition: transform 0.3s;
					width: 7em;

					&:hover {
						animation: burn 1s ease-out;
						transform: scale(1.1);

						&::after,
						&::before {
							animation: flare 1s ease-out;
						}
					}
				}
			}
		}
	}

	&__box {
		flex-direction: column;
		justify-content: center;

		&-header {
			margin-bottom: 5%;
			margin-top: 10%;
		}

		&-seen,
		&-soon {
			align-items: center;
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			width: 75%;

			&-card {
				align-items: center;
				display: flex;
				height: 25em;
				margin: 1em 0;
				position: relative;
				width: 100%;

				&:hover {
					.adventures__box-seen-card-info,
					.adventures__box-soon-card-info {
						opacity: 0;
						transform: rotateY(-180deg);
					}

					.adventures__box-seen-card-description,
					.adventures__box-soon-card-description {
						opacity: 1;
						transform: rotateY(0);
					}
				}

				&-info,
				&-description {
					align-items: center;
					background-size: cover;
					border-radius: 10px;
					box-shadow: 3px 3px 10px rgb(0, 0, 0);
					display: flex;
					flex-direction: column;
					height: 100%;
					letter-spacing: 2px;
					position: absolute;
					transition: transform 1s, opacity 1s;
					width: 100%;

					&-header {
						font-weight: bold;
						padding: 20px;
					}

					&-text {
						padding: 10px;
						width: 80%;
					}
				}

				&-info {
					&-text {
						bottom: 2em;
						font-size: 0.6em;
						position: absolute;
						text-align: center;
					}

					&--first {
						background-image: $red-gradient,
							url("../images/volcanofirstmini.jpg");
						background-position: 25%;
					}

					&--second {
						background-image: $red-gradient,
							url("../images/volcanosecondmini.jpg");
						background-position: 35%;
					}

					&--third {
						background-image: $red-gradient,
							url("../images/volcanothirdmini.jpg");
						background-position: center;
					}

					&--fourth {
						background-image: $red-gradient, url("../images/krakataumini.jpg");
						background-position: 80%;
					}

					&--fifth {
						background-image: $red-gradient, url("../images/strombolimini.jpg");
						background-position: center;
					}

					&--sixth {
						background-image: $red-gradient, url("../images/orizabamini.jpg");
						background-position: center;
					}
				}

				&-description {
					background-image: url("../images/background-text-volcano.jpg");
					background-position: bottom;
					opacity: 0;
					transform: rotateY(180deg);

					&-header {
						font-size: 1.2em;
					}

					&-text {
						font-size: 0.8em;
						width: 90%;
					}
				}
			}
		}
	}
}

// --- GALLERY ---

.gallery {
	padding: 5% 0;
	position: relative;

	&__img,
	&__popup {
		align-items: center;
		display: flex;
		justify-content: center;
	}

	&__header {
		margin-bottom: 5%;
		margin-top: 10%;
		text-align: center;
		width: 80%;
	}

	&__img {
		&-list {
			background-color: $light-pink-color;
			border-radius: 10px;
			box-shadow: 3px 3px 10px rgb(0, 0, 0);
			display: flex;
			flex-wrap: wrap;
			justify-content: space-evenly;
			list-style: none;
			padding: 3%;
			width: 75%;

			&-element {
				box-shadow: 3px 3px 10px rgb(0, 0, 0);
				cursor: pointer;
				max-height: 150px;
				max-width: 250px;
				margin: 10px;
				transform: scale(1);
				transition: transform 0.3s;

				&:hover {
					transform: scale(1.2);
				}

				img {
					border-radius: 5px;
					height: 100%;
					object-fit: cover;
					width: 100%;
				}
			}
		}
	}

	&__popup {
		animation: fadingIn 0.2s;
		backdrop-filter: blur(10px);
		background: rgba(0, 0, 0, 0.5);
		height: 100vh;
		left: 0;
		position: fixed;
		top: 0;
		width: 100vw;
		z-index: 2000;

		&-close,
		&-arrow {
			background-color: transparent;
			border: none;
			color: $gold-color;
			cursor: pointer;
			font-size: 36px;
		}

		&-close {
			position: fixed;
			right: 10%;
			top: 20%;
			transition: transform 0.3s;

			&:hover {
				transform: scale(1.4);
			}
		}

		&-img {
			border-radius: 5px;
			max-height: 80%;
			max-width: 80%;
		}

		&-arrow {
			border-radius: 50%;
			height: 60px;
			position: absolute;
			top: 80%;
			transition: border 0.1s;
			width: 60px;

			&:hover {
				border: 2px solid $gold-color;
			}

			&--left {
				left: 5%;
			}

			&--right {
				right: 5%;
			}
		}

		&-fadingOut {
			animation: fadingOut 0.2s both;
		}

		&--hidden {
			display: none;
		}
	}
}

// --- JOIN ---

.join {
	@include sectionBackground("../images/stormmini.png");
	box-shadow: 3px 3px 10px rgb(0, 0, 0);

	&__header,
	&__form {
		align-items: center;
		display: flex;
		flex-direction: column;
		width: 80%;
	}

	&__header {
		flex-wrap: wrap;
		justify-content: space-between;
		margin-bottom: 10%;
		margin-top: 15%;
		text-align: center;

		h3 {
			padding: 0 0 2em 0;
			text-transform: uppercase;
		}

		p {
			letter-spacing: 1px;
			padding: 1em 0;

			span {
				font-style: italic;
				font-weight: bold;
			}
		}
	}

	&__form {
		justify-content: center;

		&-names,
		&-contact,
		&-msg {
			align-items: center;
			display: flex;
			flex-direction: column;
			text-align: center;
			width: 100%;
		}

		&-names,
		&-contact {
			&-box {
				align-items: center;
				display: flex;
				flex-direction: column;
				justify-content: center;
				margin: 0.5em;
				width: 100%;

				label {
					padding: 0.5em;
				}

				&-input {
					background-color: $light-pink-color;
					border: 1px solid;
					border-radius: 5px;
					color: $gold-color;
					height: 2em;
					max-width: 20em;
					text-align: center;
					width: 100%;

					&::placeholder {
						color: gray;
						text-align: center;
					}
				}
			}
		}

		&-msg {
			margin: 0.5em;

			label {
				padding: 0.5em;
			}

			textarea {
				background-color: $light-pink-color;
				border: 1px solid;
				border-radius: 5px;
				color: $gold-color;
				height: 10em;
				max-width: 20em;
				resize: none;
				text-align: center;
				width: 100%;
			}
		}

		&-submit {
			color: $gold-color;
			cursor: pointer;
			background-color: $dark-color;
			border: 2px solid $gold-color;
			border-radius: 15px;
			box-shadow: 3px 3px 10px rgb(0, 0, 0);
			height: 2.5em;
			margin: 1.5em;
			padding: 5px;
			text-transform: uppercase;
			transition: transform 0.2s;
			width: 7em;

			&:hover {
				animation: burn 1s ease-out;
				transform: scale(1.1);

				&::after,
				&::before {
					animation: flare 1s ease-out;
				}
			}
		}
	}
}

// --- FOOTER ---

.footer {
	background-color: rgba(3, 3, 3, 0.8);
	overflow-x: hidden;

	&__header,
	hr {
		width: 100%;
	}

	&__header {
		padding: 5% 0;
		text-align: center;
		text-transform: uppercase;
	}

	hr {
		border: 1px solid $gold-color;
	}

	&__box {
		display: flex;
		flex-direction: column;
		width: 90%;

		&-contact,
		&-aboutus,
		&-adventures,
		&-socialmedia {
			display: flex;
		}

		&-aboutus,
		&-adventures,
		&-socialmedia {
			align-items: flex-start;
			flex-direction: column;
			justify-content: space-evenly;
		}

		&-contact {
			align-items: center;
			flex-wrap: wrap;
			width: 100%;

			h4 {
				align-items: center;
				border-bottom: 1px solid $gold-color;
				display: flex;
				justify-content: flex-start;
				padding: 5% 0 2%;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}

			&-logo,
			&-data {
				width: 50%;
			}

			&-logo {
				a {
					align-items: center;
					color: $gold-color;
					display: flex;
					justify-content: center;
					flex-wrap: wrap;
					font-family: "Dancing Script", cursive;
					font-size: 1.2em;
					text-align: center;
					text-decoration: none;

					img {
						margin-right: 10px;
						max-height: 60px;
						max-width: 60px;
					}

					span {
						font-size: 1.4em;
					}
				}
			}

			&-data {
				p {
					font-size: 0.75em;
					padding: 3% 0;
				}
			}
		}

		&-aboutus {
			h4 {
				align-items: center;
				border-bottom: 1px solid $gold-color;
				display: flex;
				justify-content: flex-start;
				padding: 5% 0 2%;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}

			ul {
				list-style-type: none;
			}

			li {
				padding: 10% 0 0 0;

				a {
					color: $gold-color;
					cursor: pointer;
					text-decoration: none;
				}
			}

			li:first-child {
				padding: 20% 0 0 0;
			}
		}

		&-adventures {
			h4 {
				align-items: center;
				border-bottom: 1px solid $gold-color;
				display: flex;
				justify-content: flex-start;
				padding: 5% 0 2%;
				text-align: center;
				text-transform: uppercase;
				width: 100%;
			}

			ul {
				list-style-type: none;
			}

			li {
				padding: 10% 0 0 0;

				a {
					color: $gold-color;
					cursor: pointer;
					text-decoration: none;
				}
			}

			li:first-child {
				padding: 20% 0 0 0;
			}
		}

		&-socialmedia {
			h4,
			&-icons {
				align-items: center;
				display: flex;
				width: 100%;
			}

			h4 {
				border-bottom: 1px solid $gold-color;
				justify-content: flex-start;
				padding: 5% 0 2%;
				text-align: center;
				text-transform: uppercase;
			}

			&-icons {
				justify-content: space-between;

				&-element {
					color: $gold-color;
					cursor: pointer;
					display: flex;
					font-size: 36px;
					padding: 5%;
					text-decoration: none;
					transition: transform 0.3s;

					&:hover {
						transform: scale(1.2);
					}
				}
			}
		}
	}

	&__rights {
		padding: 5%;
	}
}

// --- KEYFRAMES - ANIMATIONS ---

@keyframes burn {
	0% {
		box-shadow: 0 0 5px 0 rgba(200, 0, 10, 1), 0 0 5px 0 rgba(230, 30, 10, 0.8),
			0 0 5px 0 rgba(230, 230, 10, 0.6);
	}

	100% {
		box-shadow: 0 -35px 40px 30px rgba(255, 130, 10, 0),
			0 -30px 30px 10px rgba(230, 30, 10, 0),
			0 -20px 10px 0 rgba(255, 255, 10, 0);
	}
}

@keyframes fadingIn {
	0% {
		opacity: 0;
	}

	100% {
		opacity: 1;
	}
}

@keyframes fadingOut {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

@keyframes fire {
	0% {
		text-shadow: 0 0 20px #703607, 5px -5px 30px #752809,
			-10px -10px 40px #f1101042, 10px -20px 50px #f1230857,
			-10px -30px 60px #000000, 0 -40px 70px #571803, 5px -45px 80px #451b0e;
	}
	100% {
		text-shadow: 0 0 20px #f84600c9, 5px -5px 30px #c70d0dd2,
			-10px -10px 40px #7a4c07, 11px -21px 60px #a87402,
			-11px -29px 50px #000000, 0 -43px 80px #380801, 10px -45px 80px #500202;
	}
}

@keyframes flare {
	100% {
		transform: translateY(-20px) scale(1.5);
		filter: blur(10px);
		opacity: 0;
	}
}

// --- MEDIA QUERIES ---

@media (min-width: 576px) {
	.nav {
		height: 16vh;

		&__logo {
			font-size: 1.2em;
		}

		&__menu {
			font-size: 2.7em;

			&--active {
				.nav__menu-box-inner::before {
					transform: translateY(13px) rotate(45deg);
				}
			}

			&--active {
				.nav__menu-box-inner::after {
					transform: translateY(-13px) rotate(-45deg);
				}
			}
		}

		&__elements {
			height: 84vh;
			top: 16vh;

			&-item {
				font-size: 0.7em;
				margin: 1.5%;
				width: 30%;
			}
		}
	}

	.heading {
		&__title,
		&__subtitle,
		&__text,
		&__join,
		&__arrow {
			margin: 0;
			position: absolute;
		}

		&__title {
			top: 10vh;
		}

		&__subtitle {
			top: 20vh;
		}

		&__text {
			top: 30vh;
		}

		&__join {
			top: 50vh;
		}

		&__arrow {
			bottom: 10vh;
		}
	}

	.search-input {
		height: 84vh;
		top: 16vh;

		&__icon,
		&__label,
		&__input {
			margin: 1.5% 0;
		}

		&__input {
			font-size: 1.1em;
		}
	}

	.about-us {
		&__box {
			&-human {
				&-box {
					&-img {
						height: 20%;
						width: 20%;
					}
				}
			}
		}
	}

	.adventures {
		&__header {
			height: 100vh;

			&-text {
				&-buttons {
					margin: 20% 10% 0;
				}
			}
		}

		&__box {
			&-seen,
			&-soon {
				&-card {
					height: 15em;
				}
			}
		}
	}

	.gallery {
		&__img {
			&-list {
				flex-wrap: wrap;
				max-width: 75%;

				&-element {
					max-height: 150px;
					max-width: 200px;
				}
			}
		}

		&__popup {
			img {
				max-height: 60%;
				max-width: 60%;
			}
		}
	}
}

@media (min-width: 768px) {
	.header {
		@include headerBackground("../images/volcano.jpg");
	}

	.nav {
		&__logo {
			font-size: 1.2em;
		}

		&__menu {
			font-size: 3em;

			&--active {
				.nav__menu-box-inner::before {
					transform: translateY(14px) rotate(45deg);
				}
			}

			&--active {
				.nav__menu-box-inner::after {
					transform: translateY(-14px) rotate(-45deg);
				}
			}
		}

		&__search {
			font-size: 2.2em;
		}
	}

	.about-us {
		&__box {
			&-human {
				&:hover {
					transform: scale(1.06);
				}

				&-box {
					align-items: center;
					display: flex;
					justify-content: center;

					&-img {
						height: 15%;
						width: 15%;
					}
				}
			}
		}
	}

	.join {
		&__form {
			&-names,
			&-contact {
				flex-direction: row;
			}

			&-msg {
				textarea {
					max-width: 40em;
				}
			}
		}
	}

	.footer {
		&__box {
			&-contact {
				&-logo {
					a {
						font-size: 1.4em;

						img {
							max-height: 80px;
							max-width: 80px;
						}

						span {
							font-size: 1.6em;
						}
					}
				}

				&-data {
					p {
						font-size: 1em;
					}
				}
			}
		}
	}
}

@media (min-width: 992px) {
	.nav {
		&__elements {
			&-item {
				font-size: 0.9em;
				margin: 1.5em;
				width: 40%;
			}
		}
	}

	.about-us {
		&__box {
			&-human {
				&:hover {
					transform: scale(1.05);
				}

				&-box {
					&-img {
						height: 10%;
						width: 10%;
					}
				}
			}
		}
	}

	.adventures {
		&__box {
			&-seen,
			&-soon {
				&-card {
					height: 25em;
					width: 40%;
				}
			}
		}
	}

	.footer {
		hr {
			width: 100vw;
		}

		&__box {
			align-items: flex-start;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			padding: 3% 0;

			&-contact {
				display: flex;
				flex-direction: column;
				width: 20%;

				&-logo,
				&-data {
					width: 100%;
				}

				&-logo {
					padding: 5% 0 10px;

					img {
						margin-right: 5px;
					}
				}

				&-data {
					p {
						font-size: 0.75em;
						padding: 2% 0;
					}
				}
			}

			&-aboutus,
			&-adventures {
				width: 20%;
				li:first-child {
					padding: 10px 0 0 0;
				}
			}

			&-socialmedia {
				width: 20%;

				&-icons {
					align-items: center;
					display: flex;
					flex-wrap: wrap;
					justify-content: space-between;
					width: 100%;

					a {
						align-items: center;
						color: $gold-color;
						cursor: pointer;
						display: flex;
						font-size: 56px;
						justify-content: center;
						padding: 5%;
						text-decoration: none;
						width: 50%;
					}
				}
			}
		}

		&__rights {
			padding: 5%;
		}
	}
}

@media (min-width: 1200px) {
	.nav {
		align-items: center;
		display: flex;
		justify-content: space-evenly;
		width: 100%;

		&__logo {
			font-size: 2em;
			margin: 0 5%;
			width: 5%;
		}

		&__menu {
			display: none;
		}

		&__elements {
			align-items: center;
			background: transparent;
			flex-direction: row;
			height: 16vh;
			justify-content: flex-start;
			position: static;
			transform: translateY(0);

			&-item {
				align-items: center;
				background-color: $dark-red-color;
				border: 2px solid $gold-color;
				display: flex;
				flex-direction: column;
				height: 35%;
				justify-content: space-between;
				margin: 2%;
				transition: transform 0.3s;

				a {
					color: $gold-color;
					font-size: 1.1em;
				}

				&:hover {
					transform: scale(1.2);
				}
			}
		}

		&__search {
			margin: 0 5%;
			padding: 0;
			width: 5%;
		}
	}

	.heading {
		&__title {
			font-size: 4em;
		}

		&__subtitle {
			font-size: 2em;
		}

		&__text {
			font-size: 1.4em;
			margin-top: 3%;
		}
	}

	.search-input {
		&__input {
			width: 40%;
		}
	}

	.about-us {
		&__header {
			&-heading {
				font-size: 1.6em;
				margin: 3%;
			}

			&-text--first {
				font-size: 0.9em;
				margin: 0;
			}

			&-text--second {
				font-size: 1.2em;
			}
		}

		&__box {
			&-human {
				&-header {
					font-size: 1.4em;
				}

				&-box {
					font-size: 0.9em;

					&-img {
						height: 8%;
						width: 8%;
					}
				}
			}
		}
	}

	.adventures {
		overflow-x: hidden;

		&__header {
			background-image: $red-gradient, url("../images/firemaxi.jpg");
			width: 100vw;

			&-title {
				font-size: 2em;
			}

			&-text {
				&-intro {
					font-size: 1.4em;
				}

				&-path {
					font-size: 1.6em;
				}

				&-buttons {
					margin-top: 3%;

					&-seen,
					&-soon {
						font-size: 1.5em;
					}
				}
			}
		}

		&__box {
			&-header {
				font-size: 1.8em;
				margin: 10% 0 5%;
			}

			&-seen,
			&-soon {
				width: 100%;

				&-card {
					height: 25em;
					width: 25%;

					&-info {
						&--first {
							background-image: $red-gradient,
								url("../images/volcanofirstmaxi.jpg");
						}

						&--second {
							background-image: $red-gradient,
								url("../images/volcanosecondmaxi.jpg");
						}

						&--third {
							background-image: $red-gradient,
								url("../images/volcanothirdmaxi.jpg");
						}

						&--fourth {
							background-image: $red-gradient, url("../images/krakataumaxi.jpg");
						}

						&--fifth {
							background-image: $red-gradient,
								url("../images/strombolimaxi.jpg");
						}

						&--sixth {
							background-image: $red-gradient, url("../images/orizabamaxi.jpg");
						}
					}
				}
			}
		}
	}

	.gallery {
		padding: 0 0 5%;

		&__header {
			font-size: 1.8em;
		}

		&__img {
			&-list {
				justify-content: space-evenly;
				max-width: 100%;
				padding: 0;

				&-element {
					margin: 25px;
					max-height: 225px;
					max-width: 225px;
					transform: scale(1.1);
				}
			}
		}

		&__popup {
			&-img {
				max-height: 90%;
				max-width: 90%;
			}
		}
	}

	.join {
		&__header {
			margin: 5% 0 2%;
		}

		&__form {
			margin-bottom: 3%;
		}
	}
}
